name: Generate Artifacts

on:
  workflow_dispatch:
  workflow_call:

jobs:
  library:
    runs-on: [self-hosted, linux, x64]
    strategy:
      fail-fast: false
      matrix:
        config:
          - { toolchain: gcc, architecture: x86_64-linux-gnu }
    env:
      preset: ${{ matrix.config.toolchain }}::${{ matrix.config.architecture }}
    steps:
      # - uses: lukka/get-cmake@latest

      - uses: actions/checkout@v4

      - uses: robinraju/release-downloader@v1
        with:
          repository: embetech-official/cmake-presets
          tag: v0.0.1
          fileName: CMakeUserPresets.json

      - uses: lukka/run-cmake@v10
        with:
          configurePreset: ${{ env.preset }}
          configurePresetAdditionalArgs: '["-DEMBEUTILS_TESTS=0", "-DEMBEUTILS_EXAMPLES=0", "-DEMBEUTILS_DOC=0"]'
          buildPreset: ${{ env.preset }}::install

      - name: Upload library install directory
        uses: actions/upload-artifact@v4
        with:
          name: libembeutils
          path: |
            install/${{ env.preset }}/**
          if-no-files-found: error